{% extends 'base.html' %}

{% block content %}
<h1>Perfil:</h1>

<hr>
<h4>Nombre: {{ user.username | upper}}</h4>
<!-- <h4>Correo: {{ user.email | upper}}</h4> -->

<hr>
<h2>Lista de Productos:</h2>
<ul>
    {% for prod in productos %}
    <img class="icon-user" src="{{ prod.img_producto.url }}">
    <li>
       <strong>Nombre:</strong>  {{ prod.nombre_producto }}
    </li>
    <li>
        <strong>Precio:</strong> {{ prod.precio }} Bs
    </li>
    <li>
        <strong>Cantidad:</strong> {{ prod.cantidad }}
    </li>
    <li>
        <strong>Descripcion:</strong> {{ prod.descripcion }}
    </li>
    {% empty %}
    <h2 class="display-5 text-center">No hay Emprendedores registrados</h2>
    {% endfor %}
</ul>
{% endblock %}