{% extends 'base.html' %} {% block content %}
<h1>Perfil:</h1>

<hr />
<h4>Nombre: {{ user.username | upper}}</h4>
<!-- <h4>Correo: {{ user.email | upper}}</h4> -->

<hr />
<ul>
    <li>
        <button type="button" class="btn btn-outline-dark me-2">Informacion</button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-dark me-2">
            Mis productos
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-dark me-2">Mis ventas</button>
    </li>
</ul>

<hr />
<h2>Mis Productos:</h2>
<ul>


    <div class="container">
        <div class="row">


            <div class="col-md-4 offset-md-4">
                
                {% for prod in productos %}
                <div class="card card-body text-black mt-2 d-flex flex-wrap justify-content-center">
                    <img class="icon-user" src="{{ prod.img_producto.url }}" />
                    <h6><strong>Nombre: </strong>{{ prod.nombre_producto }}</h6>
                    <h6><strong>Precio: </strong>{{ prod.precio }}</h6>
                    <h6><strong>Cantidad: </strong>{{ prod.cantidad }}</h6>
                    <h6><strong>Descripcion: </strong>{{ prod.descripcion }}</h6>
                    <form action="">
                        <button type="button" class="btn btn-primary">Editar</button>
                        <button type="button" class="btn btn-danger"">Eliminar</button>
                    </form>
                </div>
                
                {% empty %}
                <h2 class="display-5 text-center">No hay productos</h2>
                {% endfor %}
            </div>
        </div>
    </div>

</ul>

<hr />
<h2>Mis ventas:</h2>
<ul>
    <li>
        <button type="button" class="btn btn-outline-dark me-2">Historial</button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-dark me-2">Graficos</button>
    </li>
</ul>

<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>
    {% for prod in productos %}
    <tr>
        <td>{{ prod.nombre_producto }}</td>
        <td>{{ prod.precio }}</td>
        <td>{{ prod.cantidad }}</td>
    </tr>
    {% empty %}
    <h2 class="display-5 text-center">No hay datos de venta</h2>
    {% endfor %}
</table>
<button type="button" class="btn btn-outline-dark me-2">Descargar ventas</button>
{% endblock %}