<!-- Extencion necesaria de base.html -->
{% extends 'base.html' %}

<!-- Nombre de la pagina -->
{% block title %}
{{titulo}}
{% endblock %}

<!-- Contenido de la pagina -->
{% block content %}
<h1>{{titulo}}:</h1>
<hr>
{% if request.user.is_authenticated %}
<div class="row">
  <!-- perfil -->
  <div class="col-sm-3">
    <div class="card">
      <img class="card-img-top" src="{{ user.perfil.img.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-primary">@{{ user.username | upper }}</h5>
        <p class="card-text">{{ user.perfil.bio }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Information</li>
        <li class="list-group-item">Lista de productos</li>
        <li class="list-group-item">Historial de ventas</li>
      </ul>
      <div class="card-body">
        <a href="{% url 'home' %}" class="card-link btn btn-primary float-left">Home</a>
        <a href="{% url 'cerrar_sesion' %}" class="card-link btn btn-danger float-right">Cerrar sesion</a>
      </div>
    </div>
  </div>

  <!-- contenido de informacion ventas etc -->
  <div class="col-sm-9">
    
    {% if productos %}
      {% for group in request.user.groups.all %}
      {% if group.name == 'Emprendedor' %}
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link " href="#">Informacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Mis productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mis ventas</a>
            </li>
          </ul>
        </div>
        <div class="card-body text-center">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Img</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Description</th>
                <th scope="col">Precio Bs.</th>
              </tr>
            </thead>
            <tbody>
              {% for producto in productos %}
              <tr>
                <td><img src="{{producto.img.url}}" class="img-fluid img-thumbnail " alt="Error al cargar la imagen"></td>
                <th>{{producto.nombre | upper }}</th>
                <td>{{producto.categoria}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.precio}} Bs.</td>
                <td><a href="{% url 'editar_producto' producto.id %}" class="btn btn-primary">Editar</a></td>
                <td><a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      {% endif %}
      {% endfor %}
    {% else %}
    <h2>No hay productos</h2>
    {% endif %}

  </div>

</div>

{% endif %}
{% endblock %}