{% extends 'base.html' %}
{% block title %} Crear producto {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Crear Producto</h1>
<hr>

{% if user.rol == "cliente" %}
<h2>Acceso denegado!!! Usted esta en el rol de cliente</h2>
<hr>
{% else %}
<form action="." method="post">
    {% csrf_token %}
    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Complete todos los campos</h5>

            {{ form | crispy }}
            <a href="{% url 'perfil' %}" class="btn btn-sm btn-danger">Cancelar</a>
            <button class="btn btn-sm btn-primary float-right" type="submit">Crear producto</button>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}