<!-- Extencion necesaria de base.html -->
{% extends 'base.html' %}

<!-- Nombre de la pagina -->
{% block title %}
Login
{% endblock %}

<!-- archivo de boostrap para que funcione -->
{% load crispy_forms_tags %}

<!-- Contenido de la pagina -->
{% block content %}
<h1>Registro de usuario:</h1>
<hr>
<form action="." method="post">
    {% csrf_token %}
    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Complete todos los campos</h5>

            {{ form | crispy }}

            <a href="{% url 'home' %}" class="card-link">Inicio</a>
            <a href="{% url 'login' %}" class="card-link">Iniciar Sesion</a>
            <button class="btn btn-sm btn-primary float-right" type="submit">Registrarse</button>
        </div>
    </div>
</form>
{% endblock %}