{% extends 'base.html' %} {% block content %}
<h1>Mi carrito:</h1>
<hr />
<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Cantidad</th>
  </tr>
  {% for prod in productos %}
  <tr>
    <td>{{ prod.nombre_producto }}</td>
    <td>{{ prod.precio }}</td>
    <td>{{ prod.cantidad }}</td>
    <td><button type="button">Quitar</button></td>
  </tr>
  {% empty %}
  <h2 class="display-5 text-center">No hay productos en el carrito</h2>
  {% endfor %}
</table>
<hr>
<table>
    <h1 class="text-center" >Metodos de pago</h1>
    <tr>
      <th>Codigo QR</th>
      <th>Efectivo</th>
    </tr>
    <tr>
      <td><img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1683137246/media/QR_lweh8a.png" width="250"></td>
      <td><img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1683137450/media/efectivo_ioxi7h.jpg " width="250"></td>
    </tr>
    <tr>
        <th><button type="button">Pago QR</button></th>
        <th><button type="button">Pago Efectivo</button></th>
    </tr>
</table>

{% endblock %}
