<!-- Extencion necesaria de base.html -->
{% extends 'base.html' %}

<!-- Nombre de la pagina -->
{% block title %}
{{titulo}}
{% endblock %}

<!-- Contenido de la pagina -->
{% block content %}
<h1>{{titulo}}:</h1>
<hr>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for producto in datos %}
        <div class="col">
            <div class="card text-center h-100">
                <img src="{{producto.img.url}}" class="card-img-top" alt="Error al cargar la imagen">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre | upper }}</h5>
                    <p class="card-text float-left"><strong>Propietario: </strong>{{producto.user.username}}</p>
                    <p class="card-text float-left"><strong>Categoria: </strong>{{producto.categoria}}</p>
                    <p class="card-text float-left"><strong>Descripcion: </strong>{{producto.descripcion}}</p>
                    <p class="card-text float-left"><strong>Precio: </strong>{{producto.precio}} Bs.</p>

                    {% if producto.stock %}
                    <p class="card-text float-left"><strong>Estado: </strong>Disponible</p>
                    {% else %}
                    <p class="card-text float-left"><strong>Estado: </strong>Agotado</p>
                    {% endif%}

                    {% for group in request.user.groups.all %}
                    {% if group.name == 'Consumidor' %}
                    <a href="{% url 'carrito'  %}" class="btn btn-primary">Agregar carrito</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% empty %}
            <p>No hay productos disponibles :3</p>
        {% endfor %}
    </div>
</div>

{% endblock %}