<!-- Extencion necesaria de base.html -->
{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Nombre de la pagina -->
{% block title %}
{{titulo}}
{% endblock %}

<!-- Contenido de la pagina -->
{% block content %}

<h1>{{titulo}}:</h1>
<hr>

<form action="." method="post">
    {% csrf_token %}
    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Registrar producto</h5>
            {{ form | crispy }}
            <button class="btn btn-sm btn-primary float-end" type="submit">Guardar</button>
    </div>
</form>
{% endblock %}