{% extends 'base.html' %}
{% block title %} Acerca de nosotros {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h3>Acerca de nosotros:</h3>
<hr>


<!-- US -->
<div class="contenedor container position-relative bottom-0 start-50 translate-middle-x">
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685431336/media/Propietarios/WhatsApp_Image_2023-04-10_at_11.36.36_AM_wzm43w.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Pablo Alvarez <br><span>Desarrollador</span></h2>
            <p>pablo.alvarez@ucb.edu.bo</p>
            <p>6488842</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685435478/media/Propietarios/WhatsApp_Image_2023-04-09_at_11.34.3220_PM_bda2qq.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Javier Solis <br><span>Scrum Manager</span></h2>
            <p>javier.solis@ucb.edu.bo</p>
            <p>65758098</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685431336/media/Propietarios/WhatsApp_Image_2023-04-09_at_11.55.34_PM_mhzuua.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Fabio Copa <br><span>Scrum Master</span></h2>
            <p>daho.copa@ucb.edu.bo</p>
            <p>77606087</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685431335/media/Propietarios/WhatsApp_Image_2023-04-10_at_12.04.54_AM_bfx8fx.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Beatriz Zamorano <br><span>Scrum Master</span></h2>
            <p>stephanie.zamorano@ucb.edu.bo</p>
            <p>65360783</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685431336/media/Propietarios/WhatsApp_Image_2023-04-09_at_11.56.59_PM_lquuwo.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Arturo Omonte <br><span>Desarrollador</span></h2>
            <p>arturo.omonte@ucb.edu.bo</p>
            <p>76459207</p>
        </div>
    </div>
</div>
<!-- FIN US -->



{% endblock %}