{% extends 'base.html' %}
{% block title %} Acerca de nosotros {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<!-- <h3>Acerca de nosotros</h3> -->
<hr>
<h1> ONECLICK </h1>

<p>One Click es una empresa virtual de ventas que ofrece una amplia variedad de productos y servicios a través de una
    plataforma en línea fácil de usar. La empresa se dedica a ofrecer soluciones eficientes y convenientes para
    compradores y emprendedores en línea, con el objetivo de facilitar la experiencia de compra y venta en línea.</p>
<p>One Click cuenta con una amplia selección de productos y servicios, desde electrónica y moda hasta productos de
    cuidado personal y hogar. Los usuarios pueden explorar una amplia variedad de productos y servicios y realizar
    compras en línea de manera rápida y segura, con procesos de pago protegidos y confiables.</p>
<p>La empresa también se preocupa por la satisfacción del cliente y ofrece un servicio al cliente excepcional,
    asegurándose de que los clientes tengan una experiencia de compra en línea satisfactoria.
</p>
<p>En resumen, One Click es una plataforma virtual de ventas confiable y eficiente que ofrece una amplia variedad de
    productos y servicios a través de una plataforma fácil de usar. La empresa se enfoca en la satisfacción del cliente
    y en proporcionar soluciones eficientes y convenientes para compradores y vendedores en línea.</p>

<h2>Mision</h2>
<p>
    La misión de una plataforma virtual de ventas es proporcionar una experiencia de compra en línea conveniente, segura
    y satisfactoria para los clientes, al mismo tiempo que ayuda a las empresas a aumentar sus ventas y expandir su
    alcance en el mercado. La plataforma debe ofrecer una amplia variedad de productos y servicios de alta calidad y
    precios competitivos, junto con un servicio al cliente excepcional y una entrega rápida y confiable

</p>
<h3>Vision</h3>
<p>
    La visión de una plataforma virtual de ventas es convertirse en el destino preferido de compras en línea para los
    consumidores de todo el mundo, proporcionando una experiencia de compra en línea excepcional que supere las
    expectativas de los clientes en cuanto a la calidad del servicio, la selección de productos y la entrega. La
    plataforma debe aspirar a ser líder en innovación tecnológica y en la integración de herramientas de inteligencia
    artificial, análisis de datos y personalización para mejorar la experiencia de compra del cliente y ofrecer
    soluciones más eficientes a las empresas. Además, debe tener una preocupación constante por el impacto ambiental y
    social de sus operaciones, promoviendo prácticas responsables y sostenibles en toda su cadena de suministro.


</p>


<hr>
<!-- US -->
<div class="contenedor container position-relative bottom-0 start-50 translate-middle-x">
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685431336/media/Propietarios/WhatsApp_Image_2023-04-10_at_11.36.36_AM_wzm43w.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Pablo Alvarez <br><span>Desarrollador</span></h2>
            <p>pablo.alvarez@ucb.edu.bo</p>
            <p>6488842</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685435478/media/Propietarios/WhatsApp_Image_2023-04-09_at_11.34.3220_PM_bda2qq.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Javier Solis <br><span>Scrum Manager</span></h2>
            <p>javier.solis@ucb.edu.bo</p>
            <p>65758098</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685431336/media/Propietarios/WhatsApp_Image_2023-04-09_at_11.55.34_PM_mhzuua.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Fabio Copa <br><span>Scrum Master</span></h2>
            <p>daho.copa@ucb.edu.bo</p>
            <p>77606087</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685431335/media/Propietarios/WhatsApp_Image_2023-04-10_at_12.04.54_AM_bfx8fx.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Beatriz Zamorano <br><span>Scrum Master</span></h2>
            <p>stephanie.zamorano@ucb.edu.bo</p>
            <p>65360783</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="img-box">
            <img src="https://res.cloudinary.com/dexh8g1vv/image/upload/v1685431336/media/Propietarios/WhatsApp_Image_2023-04-09_at_11.56.59_PM_lquuwo.jpg"
                alt="">
        </div>
        <div class="content">
            <h2>Arturo Omonte <br><span>Desarrollador</span></h2>
            <p>arturo.omonte@ucb.edu.bo</p>
            <p>76459207</p>
        </div>
    </div>
</div>
<!-- FIN US -->



{% endblock %}